@import '../../../reset.less';
.contact_first{
    width: 100%;
    height: calc(100svh - 65px);
    display: flex;
    align-items: center;
    .container{
        width: 1100px;
        margin: 0 auto;
        .flex_between;
        aside{
            width: 500px;
            text-align: left;

            div{
                width:90px;
                padding: 10px;
                background: rgb(245, 243, 218);
                border-radius: 50px;
                margin-bottom: 16px;
                img{
                    width:90%;
                }
            }
            h2{
                font-size: 45px;
                font-weight: 600;
                margin-bottom: 15px;
            }
            p{
                .txt;
            }
            img{
                width: 80%;
            }
        }
    }
}