@import '../Reset.less';

header{
    width: 100%;
    padding: 20px;
    .container{
        width: 1100px;
        margin: 0 auto;
        .flex_between;
        img{
            width: 70px;
        }
        menu{
            width: 500px;
            .flex_between;
            .txt;
            color: black;
            .link{
                transition: 0.3s;
                &:hover{
                    color: #108EC9;
                }
            }
        }
    }
}