@import '../../../reset.less';
.first_about{
    width: 100%;
    height: calc(100svh - 65px);
    display: flex;
    align-items: center;
    .container{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a{  
            display: inline-block;
            img{
                width: 80%;
            }
            div{
                width: 440px;
                padding: 20px;
                margin-bottom: 20px;
                h3{
                    color: rgb(16, 144, 203);
                    font-size: 25px;
                    font-weight: 400;
                }
                h2{
                    font-size: 40px;
                    font-weight: 600;
                }
                p{
                    .txt;
                }
            }
            &:nth-child(4){
                margin-left: 45px;
            }
        }
    }
}