@import '../../../reset.less';
.third_about{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    .container{
        width: 1100px;
        margin: 0 auto;
        overflow: hidden;
            div{
                text-align: left;
                margin-right: 20px;
                img{
                    width: 200px;
                }
                p{
                    .txt;
                }
                h3{
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        
    }
}