
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-weight: 400;
    font-size: 100%;
    list-style-type: none;
    text-decoration: none;
    border: none;
}

.dark-mode{
    background: black;
    color: white;
    header{
        background: #020F15;
    }
    a{
        color: white;
    }
}
body, textarea, button, input, select, a, button{
    font-family: Poppins, sans-serif;
}

.flex_between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt{
    color: rgb(84, 84, 84);
    font-size: 16px;
    font-weight: 400;
}
